.side {
    background-color: transparent;
    position: relative;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
    z-index: 1000;
    width: 100%;
    letter-spacing: -1px;
    height: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .1);
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}

.side a {
    color: inherit;
    word-spacing: 0;
    transition: all 0.3s ease-in-out;
}

.side .top {
    display: flex;
    gap: 1.75rem;
    top: 1rem;
}

.side .top h1 {
    font-size: 1.75rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1.75rem;
    color: #333333;
    background: var(--purple-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.side .top span {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    line-height: 1.75rem;
    color: #333333;
}

.side .bottom {
    top: .25rem;
    position: relative;
    font-size: 1.5rem;
}

.side .bottom a:nth-child(n+2) {
    margin-left: 1rem;
}

.side .bottom a {
    color: #33333389;
}

.side .bottom a:hover {
    color: #333333;
}

/* =-=-=-=-=-=-=-=-=-=-=-=- Media queries =-=-=-=-=-=-=-=-=-=-=-=- */
@media (max-width:1505px) {}

/* hi-res laptops and desktops */
@media (max-width:1281px) {}

/* big landscape tablets, laptops, and desktops */
@media (max-width:1025px) {}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (max-width:801px) {
    
    .side .top {
        flex-direction: row;
        align-items: center;
    }

    .side .top h1 {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
    .side .top span {
        font-size: 1rem;
        line-height: 1.25rem;
        padding-left: 1rem;
    }
    .side .bottom {
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.25rem;
    }
    .side .bottom a:nth-child(n+2) {
        margin-left: 0;
    }
    
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (max-width:600px) {}

/* smartphones, Android phones, landscape iPhone */
@media (max-width:480px) {}